.video-container {
  height: 500px;
  width: 400px;
  margin: 0 auto; 
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  overflow: hidden; 
}

.react-player {
  background-color: #000; 
}

@media (max-width: 600px) {
  .video-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; 
  }
}